html{
	background-color: rgb(39, 39, 39);
	font-family: 'Roboto Mono', monospace;
}

h1{
	padding-top: 8rem;
	color: ghostwhite;
}

.center{
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.resultados{
	display: flex;
  	justify-content: center;
}

.grid {
	background: #a945c7;
    box-shadow: 0 0 5px #a945c7, 0 0 20px #a945c7, 0 0 40px #a945c7;
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: rgb(120, 233, 125);
	border-radius: 10px;
}

.shooter {
	background-color: rgb(220, 240, 107);
}

.laser {
	background-color: red;
}

.boom {
	background-color: red;
}
