html{
	background: #8f00bb;
	font-family: 'Roboto Mono', monospace;
}

h1{
	color: ghostwhite;
}

.instrucciones{
	display: flex;
  	justify-content: center;
	color: ghostwhite;
}

.espacio2{
	margin-left: 2rem;
	margin-right: 2rem;
}

.center{
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.resultados{
	display: flex;
  	justify-content: center;
}

.otro{
	display: flex;
  	justify-content: center;
}

.grid {
	background: #a945c7;
    box-shadow: 0 0 5px #a945c7, 0 0 20px #a945c7, 0 0 40px #a945c7;
    border-radius: 4px;
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: rgb(60, 226, 255);
    box-shadow: 0 0 10px #04ccd3, 0 0 10px #04ccd3, 0 0 10px #04ccd3;
	border-radius: 7px;
}

.shooter {
	background-color: rgb(220, 240, 107);
    box-shadow: 0 0 20px #efff61, 0 0 20px #efff61, 0 0 20px #efff61;
    border-radius: 3px;
}

.laser {
	background-color: #60f17f;
    box-shadow: 0 0 15px #60f17f, 0 0 15px #60f17f, 0 0 15px #60f17f;
    border-radius: 10px;
}

.boom {
	background-color: red;
    box-shadow: 0 0 20px #ff0000, 0 0 20px #ff0000, 0 0 20px #ff0000;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}

/*Movimiento*/
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
